<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{delete.title_}"></title>
</head>
<body>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi_VN">Viet Nam</a>
<h1 th:text="#{delete.heading}"></h1>
<h2 th:text="#{delete.confirm}"></h2>
<p>
    <a href="/" th:text="#{delete.list_customer}"></a>
</p>
<form th:action="@{/delete-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{delete.first_name}">:</td>
            <td th:text="${customer.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{delete.last_name}">:</td>
            <td th:text="${customer.lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{delete.submit_label}"></td>
        </tr>
    </table>
</form>
</body>
</html>